* text=auto
*.csv text eol=lf
*.json text eol=lf
*.log text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.docx binary
*.png binary
*.jpg binary
*.parquet binary
